.header {
    width: 90%;
    font-size: 2rem;
    color: rgb(170, 24, 24);
    margin-bottom: 10px;
  }
  
  .title {
    width: 100%;
    float: left ;
    font-size: 3rem;
    color: rgb(56, 207, 106);
  }
  
  .scores {
    float: right;
  }
  